# Uso de APIs

## OBJETIVO 

- Practicar el uso de APIs y peticiones HTTP.

El uso de una `API` para la obtención de datos no fue posible ya que actualmente no hay una API oficial, solo datasets que se pueden obtener el la página de Calidad de Aire de la Ciudad de México.

Con fines didácticos nosotros procedimos a realizar una pequeña API muy sencilla de los datasets obtenidos en dicha página, para poder aplicar lo aprendido en las sesiones de nuestro módulo de python.

Para realizar una consulta tenemos que visitar la siguiente dirección: http://34.73.220.231/

En la dirección anterior se documentó una serie de endpoints que sirven para obtener diferentes consultas de datos, como datos por año de una de las partículas ($PM_{10}$ o $PM_{2.5}$).

## Conexión a la API

Para conectarnos a nuestra API, utilizaremos las siguientes librerias:

In [1]:
import requests as res
import pandas as pd

Indicamos nuestro endpoint, y para está API no se requiere un diccionario de parámetros, ya que no solicita una Key.  
Envíamos nuestro get con el endpoint generado, y leemos el estatus de nuestro objeto de respuesta:  

Con esto, confirmamos que nuestra conexión fue exitosa

In [2]:
endpoint = 'http://34.73.220.231/api/dpmdiez/primer_año_all'
r = res.get(endpoint)
r.status_code

200

Directamente nuestra `data` es una lista de diccionarios que contiene los datos que queremos utilizar. 

Lo convertimos en un `DataFrame`, y verificamos el `head`:

In [3]:
json = r.json()
normalized = pd.json_normalize(json)
df = pd.DataFrame.from_dict(normalized)
df.head()

,FECHA,HORA,ACO,AJM,ATI,BJU,CAM,CHO,CUA,CUT,...,SAC,SAG,SFE,TAH,TLA,TLI,UIZ,VIF,XAL,_id.$oid
0,01/01/2019,1,201,39,105,84,120,119,113,149,...,-99,149,50,191,78,-99,129,280,155,603aa50a5e3c561998e01aad
1,01/01/2019,2,218,27,128,115,135,241,158,211,...,-99,149,54,225,73,-99,125,257,236,603aa50a5e3c561998e01aae
2,01/01/2019,3,240,20,93,134,177,274,192,214,...,-99,152,65,185,80,-99,132,509,337,603aa50a5e3c561998e01aaf
3,01/01/2019,4,231,10,86,124,204,294,143,178,...,-99,217,33,172,84,-99,136,611,271,603aa50a5e3c561998e01ab0
4,01/01/2019,5,216,7,68,143,162,254,123,234,...,-99,242,29,83,63,-99,191,653,226,603aa50a5e3c561998e01ab1

Por último, cerramos nuestra conexión a la API

In [4]:
r.connection.close()

Y de esta manera, aplicamos en un pequeño ejemplo el consumo de la `API` que contiene nuestros `datasets` originales